<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <base href="/webpath/">
</head>
<body>

<h1>用户页面</h1>
<!--1.使用相对路径 浏览器默认方式,会将资源前面的进行拼接 http://localhost:8080/webpath/
(login使用的是转发,页面会待在第一个请求的Servlet http://localhost:8080/webpath/loginServlet?)-->
<!--<a href="login.html">点击返回登录</a>-->

<!--2.使用相对路径 (login使用的是直接访问,页面会待在 http://localhost:8080/webpath/views/user/user.html?)-->
<!--<a href="../../login.html">点击返回登录</a>-->

<!--3.使用base标签 (login使用的是直接访问,页面会待在 http://localhost:8080/webpath/views/user/user.html?)-->
<a href="login.html">点击返回登录 base</a>

<!--4.使用转发 (login使用的是直接访问,页面会待在 http://localhost:8080/webpath/views/user/user.html?
    1. 写的 base href="http://localhost:8080/webpath/"
    2. 表示的含义就是当前这个页面的访问所有资源都是以 http://localhost:8080/webpath/ 参照
)-->
<a href="goBackServlet">点击返回登录 转发方式</a>

</body>
</html>