<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置MyBatis自带的日志输出-查看原生的sql
    注意 settings 只可以放在最上面这个位置 放在其他位置会报错
    MyBatis就是这样设计的 看作一个规定！ 但是我这里放在其他位置没有报错啊
    -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置类型别名-->
    <typeAliases>
        <typeAlias type="com.hspedu.entity.Monk" alias="Monk"/>
    </typeAliases>



    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis2?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="hsp"/>
            </dataSource>
        </environment>
    </environments>
    <!--说明
       1. 这里我们配置需要关联的Mapper.xml
       2. 这里可以通过 [菜单]-[Copy]-[Path From Source Root]
       点击生成下面需要的格式:全路径点换成斜杠加上文件后缀
       -->
    <mappers>
        <mapper resource="com/hspedu/mapper/MonkMapper.xml"/>
    </mappers>
</configuration>